<!DOCTYPE html>
<html lang="en">

<%- include ./partials/head.ejs %>

    <body>
        <%- include ./partials/header.ejs %>
            <main>
                <%- include ./partials/buttons.ejs %>
                    <section class="container-info">
                        <h2>
                            <%- title %>
                        </h2>
                        <% launches.forEach((data) => { console.log(data)%>
                            <article>
                                <h2>
                                    <%- data.ship_name%>
                                </h2>
                                <% if (data.image) { %>
                                    <div>
                                        <img src=<%- data.image%>>
                                    </div>
                                    <% } else { %>
                                        <div class='no-image'>
                                            <p>No image available</p>
                                        </div>
                                        <% } %>
                                            <p>Ship type:
                                                <%- data.ship_type%>
                                            </p>
                                            <p>Ship roles:
                                                <%- data.roles%>
                                            </p>
                                            <p>Home port:
                                                <%- data.home_port%>
                                            </p>
                                            <a href="<%- data.ship_id%>">More info
                                </a>
                            </article>
                            <% }) %>
                    </section>
                    <%- include ./partials/loader.ejs %>

            </main>
            <script src="../dist/bundle.js"></script>
    </body>

</html>