<%- include ../layouts/_toppage.ejs %>
    <section class="container-info">
        <h2>
            <%- title %>
        </h2>
        <% launches.forEach((data) => { %>
            <article>
                <h2>
                    <%- data.mission_name%>
                </h2>
                <% if (data.links.mission_patch_small) { %>
                    <div>
                        <img loading="lazy" src=<%- data.links.mission_patch_small %> alt="img">
                    </div>
                    <% } else { %>
                        <div class='no-image'>
                            <p>No image available</p>
                        </div>
                        <% } %>
                            <p>Flight number:
                                <%- data.flight_number%>
                            </p>
                            <p>Launch year:
                                <%- data.launch_year%>
                            </p>
                            <p>Rocket:
                                <%- data.rocket.rocket_name%>
                            </p>
                            <a href="launches/<%- data.flight_number%>">More info
                            </a>
            </article>
            <% }) %>
    </section>
    <%- include ../layouts/_bottompage.ejs %>